@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');

:root {
	--black: #000;
	--light-gray: #f1efef;
	--input-background: #f1efef;
	--button-background: #ccc8aa;
	--button-hover: #cbb563;
	--error-color: red;
}

body {
	font-family: 'Arbutus Slab', serif;
}

button {
	font-family: inherit;
}

input {
	font-family: inherit;
}
