@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');

:root {
	--app-background: #d9d9d9;
	--input-border-color: #727272;
	--color-progressive: rgb(114, 161, 255);
	--color-progressive--hover: rgb(71, 123, 228);
	--skip-hover: #ddcef2;
	--skip: #afa3bf;

	--error-color: red;
	--search-border: #a2a9b1;
	--search-color: #202122;
	--search-background: #f8f9fa;
	--search-background-hover: #fff;
	--search-color-hover: #404244;
}
/* old colors */
/*
--black: #000;
	--color-progressive--active: #2a4b8d;
	--color-progressive--focus: #36c;
	--light-gray: #f1efef;
	--input-background: #f1efef;
	--button-background: white;
	--button-text-color: #000000;
	--button-hover: #00000052;
	--error-color: red;
	--success-color: green;
	--correct-answer: #aaccad;
	--wrong-answer: #ccaaaa;
	--pass: #d9d9d9;
	--search-result-hover: #a7c7e7;
*/

body {
	font-family: 'Arbutus Slab', serif;
	background-color: var(--app-background);
	overflow-x: hidden;
}

button {
	font-family: inherit;
	color: black;
}

input {
	font-family: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: black;
}
