.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup-text {
	text-align: center;
	margin: 0 5%;
}
.popup {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	background-color: var(--card-background);
	width: calc(250px + 5vw);
	max-width: 90vw;
	height: calc(200px + 10vh);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.close-button {
	position: absolute;
	top: 5px;
	right: 10px;
	background-color: var(--card-background);
	border: none;
	padding: 5px;
	cursor: pointer;
	font-size: 2.5em;
}

.popup-title {
	margin: 5% 0;
	font-size: 2rem;
	text-wrap: wrap;
	width: 70%;
	text-align: center;
}

.button-container {
	position: absolute;
	width: 240px;
	max-width: 85%;
	bottom: 20px;
	display: flex;
	justify-content: space-evenly;
}

.cancel-button,
.confirm-button {
	cursor: pointer;
	border: none;
	font-size: 1.3rem;
	padding: 0.5rem;
	width: 40%;
}

.cancel-button {
	color: var(--remove-darker);
	border: 1px solid var(--remove-darker);
}

.confirm-button {
	color: var(--success-color-darker);
	border: 1px solid var(--success-color-darker);
}
