.popup-text {
	font-size: 1.1rem;
	margin: 0 5%;
	text-align: center;
}

.stats-container {
	display: flex;
	margin: 5px 0;
	justify-content: flex-start;
	width: 90%;
}

.stat {
	text-wrap: wrap;
	width: 25%;
	text-align: center;
}

.stat-figure {
	margin: 10px 0;
}

.stat-name {
	font-size: 0.9rem;
	margin: 0;
}

.guess-distribution {
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	width: 90%;
}

.daily-guess {
	display: flex;
	width: 100%;
	margin-top: calc(2% + 2px);
	height: 19px;
	max-height: 10%;
}

.guess-bar {
	background-color: var(--app-background);
	width: 20px;
	height: 100%;
	left: 10%;
}

.guess-amount {
	margin: 0;
	text-align: center;
	font-size: 1.1rem;
	width: 25px;
	font-size: 0.8rem;
}

.times-guessed {
	margin: 0;
	margin-right: 5px;
	font-size: 0.8rem;
	text-align: end;
}

.bottom-options {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	bottom: 5px;
}

.popup-button {
	position: absolute;
	width: 240px;
	max-width: 85%;
	bottom: 20px;
	background-color: var(--color-progressive);
	cursor: pointer;
	border: none;
	font-size: 1.3rem;
	padding: 0.5rem;
}

.popup-button:hover {
	background-color: var(--color-progressive--hover);
}
