.spinner-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--app-background);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.spinner {
	border: 5px solid var(--search-background-hover);
	border-top: 5px solid var(--skip);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 0.75s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
