.daily-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 5rem;
}

h1 {
	font-size: 2rem;
}

.guesses-remaining {
	font-size: 1.5rem;
}

.daily-title {
    text-align: center;
}

.search-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--light-gray);
	margin-top: 3%;
	background-color: var(--light-gray);
	box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
}

.sub-header {
	font-size: 1.3rem;
	text-align: center;
	margin-right: 2rem;
	margin-left: 2rem;
}

.words-container {
  justify-content: center;
	display: flex;
	gap: 10vw;
}

.search-words {
	font-size: 1.8rem;
}

.search-bar {
	width: 80%;
	padding: 0.5rem;
	font-size: 1.1rem;
	border: 1px solid var(--black);
	background-color: var(--input-background);
}

.incorrect-answer {
	font-size: 1.1rem;
	color: var(--error-color);
	margin: 0;
}

.buttons-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1rem;
}

button {
	background-color: var(--button-background);
	width: 14rem;
	height: 3rem;
	border: 0px;
	margin-right: 5rem;
	margin-left: 5rem;
	margin-top: 2rem;
	font-size: 1.3rem;
	cursor: pointer;
}

button:hover:not([disabled]) {
	background-color: var(--button-hover);
}

.search-results-container {
	height: 15rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	overflow-y: auto;
	padding-left: 1rem; /* Add padding to accommodate the scrollbar width */
	padding-top: 0;
	padding-bottom: 1rem;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.search-result {
  display: block;
  background-color: var(--pass);
  width: 33.5rem; /* Adjust width */
  cursor: pointer;
	margin: 0;
  padding: 0;
	padding-left: 0.5rem; /* Add padding to the left */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflow text */
  text-overflow: ellipsis; /* Display ellipsis for overflow text */
	text-align: left;
}

.search-result:hover:not([disabled]){
  background-color: var(--search-result-hover);
}