h1 {
	font-size: 2.5rem;
	text-align: center;
	margin-top: 15vh;
}

.leaderboard-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	gap: 20px;
	flex-wrap: wrap;
}

.dropdown {
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
	width: 100px;
	height: 20px;
	background: var(--card-background);
	border: 1px solid var(--search-border);
	border: 1px;
	font-size: 0.8rem;
	font-family: inherit;
	cursor:pointer;
}

.leader-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	padding: 20px;
	width: 300px;
	height: 400px;
	background-color: var(--card-background);
	box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
}
.users-container {
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.leader-description {
	font-size: 1.2rem;
	text-align: center;
}

.leader-name {
	font-size: 0.75rem;
	text-align: left;
	margin-bottom: 20px;
}

.list-container{
	list-style-type: none;
	padding: 0;
	margin: 0;
	justify-content: space-between;
	overflow-y: auto;
}

.leader-score {
	font-size: 0.75rem;
	float: right;
}

.change-difficulty {
	display: flex;
	flex-direction: row;
	align-items: center;
}

h2 {
	font-size: 1.5rem;
}
