.levels-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 2.5rem;
	text-align: center;
	margin-top: 15vh;
	margin-bottom: 0;
}

.info-text {
	font-size: 1.2rem;
}

.game-container {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: auto;
	width: 700px;
	max-width: 95vw;
	padding: 2rem 0;
	box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
}

.words-container {
	display: flex;
	gap: 10vw;
}

.guess-container {
	display: flex;
	width: 90%;
	gap: 2%;
}

.search-bar {
	width: 80%;
	padding: 0.5rem;
	font-size: 1.3rem;
	border: 1px solid var(--input-border-color);
	box-sizing: border-box;
}

.confirm-answer {
	background-color: var(--confirm);
	cursor: pointer;
	border: none;
	font-size: 1rem;
	padding: 0.5rem;
	min-width: 75px;
	width: 18%;
}

.confirm-answer:hover {
	background-color: var(--confirm-hover);
}

.search-words {
	font-size: 2rem;
	font-weight: 600;
	font-style: italic;
}

.game-description {
	font-size: 1.4rem;
	margin: 0;
}

.popup-text {
	font-size: 1.1rem;
	margin: 0 5%;
	text-align: center;
}

.score {
	font-size: 1.6rem;
	margin: 2%;
	font-weight: 500;
}

.level-answer {
	text-align: center;
	padding: 1vh;
	width: 90%;
}

.bottom-options {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	width: 240px;
	max-width: 85%;
	bottom: 20px;
	gap: 10px;
}

.popup-button {
	width: 100%;
	background-color: var(--color-progressive);
	cursor: pointer;
	border: none;
	font-size: 1.3rem;
	padding: 0.5rem;
}

.popup-button:hover {
	background-color: var(--color-progressive--hover);
}

hr {
	width: 100%;
	border: 1px solid var(--input-border-color);
	margin-top: 1rem;
}
