.landing-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5rem;
}

h1 {
	font-size: 2rem;
}

.sub-header {
	font-size: 1.5rem;
	text-align: center;
	margin-right: 2rem;
	margin-left: 2rem;
}

.words-container {
	display: flex;
	gap: 10vw;
	margin: 1rem;
}

.search-words {
	font-size: 2rem;
}

.search-bar {
	width: 70%;
	padding: 0.5rem;
	font-size: 1.5rem;
	margin: 1rem 0;
	border: 1px solid #000;
	background-color: #f1efef;
}

.buttons-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1rem;
}

button {
	background-color: #ccc8aa;
	width: 14rem;
	height: 3rem;
	border: 0px;
	margin-right: 5rem;
	margin-left: 5rem;
	margin-top: 2rem;
}

button:hover {
	background-color: #cbb563;
}

.buttons-container button {
	font-size: 1.3rem;
	cursor: pointer;
}
