.landing-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: auto;
	margin-top: 20vh;
	background: white;
	width: 30rem;
	padding: 1.5rem 0;
	max-width: 90vw;
	box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
}

h1 {
	font-size: 2rem;
	padding: 0.5rem;
}

.content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20rem;
	margin: auto;
	max-width: 90vw;
}

hr {
	width: 90%;
	border: 1px solid var(--input-border-color);
	margin-top: 1rem;
}

button {
	background-color: var(--color-progressive);
	cursor: pointer;
	border: none;
	font-size: 1.3rem;
	padding: 0.5rem;
	width: 90%;
	margin: 1rem 0;
}

button:hover {
	background-color: var(--color-progressive--hover);
}

.popup-button {
	width: 14rem;
	height: 45px;
	font-size: 1.3rem;
	cursor: pointer;
	margin-top: auto;
	margin-bottom: 50px;
}

.popup-row {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 85%;
	margin-bottom: 2%;
}

.icon-container {
	max-width: 20%;
}

.popup-text {
	font-size: 1.2rem;
	margin-left: 10%;
}
