.rush-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 15vh;
}

.skip-button {
	position: absolute;
	top: 2%;
	right: 2%;
}

.info-bar {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 20px;
}

.info-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 22vw;
	gap: 10px;
}

.info-text {
	font-size: 1.2rem;
}

.game-container {
	background-color: var(--card-background);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: auto;
	width: 700px;
	max-height: 250px;
	max-width: 95vw;
	padding: 2rem 0;
	box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
	position: relative;
}

.game-description {
	font-size: 1.4rem;
	margin: 0;
}

.words-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 90%;
	justify-content: center;
	gap: 10vw;
	margin: 2rem 0 1rem 0;
}

.search-words {
	font-size: 2rem;
	font-weight: 600;
	margin: 0;
}

.incorrect-answer {
	font-size: 1.1rem;
	color: var(--error-color);
	margin: 0;
}

#confirm-button,
#skip-button {
	background-color: var(--button-background);
	width: 14rem;
	height: 3rem;
	border: 0px;
	margin-right: 5rem;
	margin-left: 5rem;
	margin-top: 2rem;
	font-size: 1.3rem;
	cursor: pointer;
}

#confirm-button:hover:not([disabled]),
#skip-button:hover:not([disabled]) {
	background-color: var(--button-hover);
}

.popup-description {
	font-size: 1.3rem;
	text-align: center;
	margin: 0 15%;
}

.popup-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 70%;
	max-width: 90%;
}

.streak-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	width: 300px;
	max-width: 100%;
}

.popup-text {
	font-size: 1.3rem;
}

@media screen and (max-width: 1200px) {
	.info-container .streak-text,
	.info-container .time-text,
	.info-container .skips-text {
		display: none;
	}
}
