.rush-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 15vh;
}

.skip-button {
	position: absolute;
	top: 2%;
	right: 2%;
	height: 10%;
	width: 15%;
	color: var(--skip);
	border: 1px solid var(--skip-darker);
}

.info-bar {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 3vh 0;
}

.info-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 22vw;
	gap: 10px;
}

.info-text {
	font-size: 1.2rem;
}

.game-container {
	background-color: var(--card-background);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: auto;
	width: 700px;
	max-height: 275px;
	max-width: 95vw;
	padding: 2rem 0;
	box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
	position: relative;
}

.game-description {
	font-size: 1.4rem;
	margin: 0;
}

.words-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 90%;
	justify-content: center;
	gap: 10vw;
	margin: 3rem 0 2rem 0;
}

.search-words {
	font-size: 2rem;
	font-weight: 600;
	margin: 0;
}

.message-container {
	font-size: 1.1rem;
	margin: 0;
}

.correct-answer-message {
	color: var(--success-color);
}

.auto-skip-message {
	color: var(--skip);
}

.incorrect-answer {
	color: var(--error-color);
}

.page-not-exist {
	color: var(--error-color);
}

.no-skips {
	color: var(--error-color);
}

.skip-button {
	color: var(--skip);
	border: 1px solid var(--skip);
	font-size: 1.3rem;
	cursor: pointer;
	height: 15%;
	max-height: 30px;
}

.skip-button:hover {
	background-color: var(--skip-hover);
}

.popup-description {
	font-size: 1.3rem;
	text-align: center;
	margin: 0 15%;
}

.popup-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 70%;
	max-width: 90%;
}

.streak-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	width: 300px;
	max-width: 100%;
}

.popup-text {
	font-size: 1.3rem;
}

@media screen and (max-width: 1200px) {
	.info-container .streak-text,
	.info-container .time-text,
	.info-container .skips-text {
		display: none;
	}
}

.popup-button {
	position: absolute;
	width: 240px;
	max-width: 85%;
	bottom: 20px;
	background-color: var(--default-button-color);
	cursor: pointer;
	border: none;
	font-size: 1.3rem;
	padding: 0.5rem;
}

.popup-button:hover {
	background-color: var(--default-button-color-lighter);
}

.skip-pressed {
	background-color: var(--skip);
	animation: skippedFadeOut 2s forwards;
}

.correct-answer {
	background-color: var(--success-color);
	animation: correctFadeOut 2s forwards;
}

@keyframes correctFadeOut {
	from {
		background-color: var(--success-color);
	}
	to {
		background-color: transparent;
	}
}

@keyframes skippedFadeOut {
	from {
		background-color: var(--skip);
	}
	to {
		background-color: transparent;
	}
}
