/* Dropdown Styling */
.select-difficulty {
	display: flex;
	justify-content: space-between;
	width: 80%;
	padding: 0;
	align-items: center;
}

.dropdown {
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
	width: 150px;
	height: 30px;
	background-color: var(--button-background);
	border: none;
	font-size: 1.25rem;
	font-family: inherit;
}

/* Option header */

.options-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 70vw;
	margin: auto;
	margin-bottom: 10px;
	min-width: 350px;
}

@media (max-width: 600px) {
	.options-container {
		justify-content: center;
	}
}

.add-level-button {
	font-size: 1.3rem;
	background-color: var(--button-background);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
	width: 10rem;
	height: 3rem;
	border: 0px;
	cursor: pointer;
	margin-left: 10px;
}

.add-level-button:hover {
	background-color: var(--button-hover);
}

/* Update Levels Section */

.change-difficulty {
	display: flex;
	flex-direction: row;
	align-items: center;
}

h3 {
	margin-right: 10px;
}

.add-level-button {
	height: 30px;
	align-self: center;
	font-weight: 700;
}

.level-options-container {
	margin: auto;
	width: 80vw;
	min-width: 350px;
	height: 70vh;
	display: flex;
	flex-wrap: wrap;
	flex-basis: calc(100% - 150px);
	align-content: start;
	justify-content: center;
}

.level {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20vw;
	height: 20vw;
	max-width: 125px;
	max-height: 125px;
	margin: 1%;
	box-sizing: border-box;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
	aspect-ratio: 1;
	background-color: var(--button-background);
}

.level:hover {
	background-color: var(--button-hover);
}

/* Edit overlay Styles */
.input-label {
	font-size: 1.3rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	margin-left: 10%;
	align-self: flex-start;
}

.word-input {
	padding: 0.5rem;
	font-size: 1.3rem;
	width: 80%;
	border: 1px solid var(--black);
	background-color: var(--input-background);
	margin-bottom: 5%;
}

.save-button {
	font-size: 1.3rem;
	background-color: var(--button-background);
	width: 80%;
	height: 3rem;
	border: 0px;
	cursor: pointer;
	margin: 2rem;
}

.save-button:hover {
	background-color: var(--button-hover);
}
